<div tal:attributes="class php:'abstractdirectory-block ' . moduleName . '-abstractdirectory-block'">

	<span tal:condition="formSpontaneousCandidacyPage" tal:omit-tag="">
		<ul class="mini-navigation">
			<li><a change:link="document formSpontaneousCandidacyPage" i18n:translate="&modules.job.frontoffice.SpontaneousCandidacy;" /></li>
		</ul>
	</span>

	<ul change:menu="menuObject horizontalMenu; itemName item; maxLevel -1; masterUlClass folder-horizontal" tal:omit-tag="">
		<a tal:condition="item/hasUrl" tal:attributes="href item/getUrl" tal:content="item/getLabel" />
		<strong tal:condition="not: item/hasUrl" tal:content="item/getLabel" />
	</ul>

	<p tal:condition="containerParentParam" class="return-link">
		<a change:currentPageLink="containerParentParam" i18n:translate="&modules.abstractdirectory.frontoffice.BackToParentContainer;"/>
	</p>

	<div class="module-columnleft">
		<h2 class="title" tal:condition="displaycontainerlabel" tal:content="container/getLabel" />
		<span tal:condition="not: messageContent" tal:replace="itemsContent"/>
		<span tal:condition="messageContent" tal:replace="messageContent" />
	</div>
	
	<div class="module-columnright">
		<span tal:condition="menu" tal:omit-tag="">
			<p i18n:translate="&modules.abstractdirectory.frontoffice.SubContainerMenuTitle;" />
			<ul change:menu="menuObject menu; itemName item; maxLevel 1; masterUlClass folder-vertical" tal:omit-tag="">
				<a tal:attributes="href item/getUrl" tal:content="item/getLabel" />
			</ul>
			<p class="subfolder" i18n:translate="&modules.abstractdirectory.frontoffice.NbSubContainerHelp;" />
		</span>
	</div>

	<span change:paginator="paginator" tal:omit-tag=""/>

	<br class="cleaner" />
</div>